<section class = 'user-section'>
  <div class  = 'user-image'>
    <img src=<%= get_photo(@user) %> alt="User photo" >
  </div>
  <div class = 'user-content'>
    <div>
      <h2><%= @user.name %></h2>
    </div>
    <div>
      <p class = 'post-num'>Number of posts:<%= @user.posts.size %></p>
    </div>
  </div>
</section>

<% @posts.each do |post|%>
  <div class = 'user-posts'>
    
    <%= render partial: "post_details", locals: { post: post } %>
    
    <% if post.comments.size > 0 %>
      <%= render partial: "new_comment", locals: { comments: post.recent_comments } %>
    <% end %>

  </div>
<% end %>

<div class = 'pagination'>
  <button type="submit" >Pagination</button>
</div>